
{%
set clubQuery = craft.entries
.section('clubs')
.select('field_clubCountry')
.orderBy('field_clubCountry ASC')
.distinct('field_clubCountry')
.column()
%}

{% set country = craft.app.request.getParam('country') %}

{% if country != '' %}


    {% set allEntries = craft.entries.section('clubs').search(country).orderBy('clubCity asc') .all()%}

    {% set allEntriesByCountry = allEntries %}


{% else %}

    {% set allEntries = craft.entries.section('clubs').search(country).orderBy('clubCity asc') .all()%}
    {% set allEntriesByCountry = allEntries  %}

{% endif  %}

<div>

    <div class="is-clearfix">
        <div class="is-pulled-right">
            <a class="button is-primary" id="showModal">
                <span class="icon">
                  <i class="fas fa-plus-square"></i>
                </span>
                    <span> Add your club</span>
            </a>
        </div>
        <div class="is-pulled-left">
            <div class="field is-narrow">
                <div class="control">
                    <div class="select">
                        <select class="form-control" id="distSelectCountry"  onchange="countryChange(this);" style="color:#000;font-weight: bolder">
                            <option value="" >{{"Filter By Country"|t}}</option>
                            {% for entry in clubQuery %}
                            <option value="{{entry}}" {% if entry==country %} selected {% endif  %}>{{ entry|t }}</option>
                            {% endfor  %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="is-clearfix" style="clear: both">

    {% include '/clubs/form' %}





    <articles>
        {% for k, item in allEntries %}
        <article style="margin-top: 1rem">
            <a href="{{item.url}}">

                <h4 class="title is-4 is-marginless">{{item.clubName}}</h4>
                <div>
                    {{item.clubCity}} {{item.clubCountry}}
                </div>
            </a>
        </article>
        {% endfor %}
    </articles>
</div>



<script type="text/javascript">
    function countryChange(selectObj) {
        var selectIndex=selectObj.selectedIndex;
        var selectValue=selectObj.options[selectIndex].value;
        window.location.href =  '{{ url('ehba/clubs') }}?country=' + selectValue  ;
    }
    var btn = document.querySelector('#showModal');
    var modalDlg = document.querySelector('#image-modal');
    var imageModalCloseBtn = document.querySelector('#image-modal-close');
    btn.addEventListener('click', function(){
        modalDlg.classList.add('is-active');
    });

    imageModalCloseBtn.addEventListener('click', function(){
        modalDlg.classList.remove('is-active');
    });
</script>
