{% set carouselImages = craft.entries().section('carousel').orderBy('carouselOrder ASC').all() %}

<div class="fcarousel" data-flickity='{ "autoPlay": true, "percentPosition": false }'>
    {% for k, slide in carouselImages %}
    {% set image = slide.carouselImage.one() %}

    <div class="carousel-cell" id="carouselCell{{k}}" data-index="{{k}}" data-flickity-bg-lazyload="{{ image.getUrl() }}">
        {% if slide.carouselLink is not empty %}
        <a href="{{slide.carouselLink}}" id="carouselLink{{k}}">
        {% endif %}
        <div class="carousel-legend" style="">
            <div class="content " style="padding:5px;opacity: 1">
                <h5 class="is-paddingless is-marginless	">{{slide.title}}</h5>
                {{slide.carouselLegend|raw}}
                {% if slide.carouselPhotoCredit %}}
                <div class="carousel-legend" style="position: absolute; bottom:0;  right: 0 ;">
                    <div class="content has-text-right banner-title">
                        &copy; {{slide.carouselPhotoCredit}}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% if slide.carouselLink is not empty %}
        </a>
        {% endif %}
    </div>

    {% endfor %}
</div>

<style>
    /* external css: flickity.css */

    .fcarousel {
        background: transparent;
    }

    .carousel-cell {
        height: 400px;
        margin-right: 10px;
        background: transparent;
        left:20px;
        width: 100%; /* full width */
        /* center images in cells with flexbox */
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover; /* keyword value */
        cursor: pointer;
    }



    @media screen and (max-width: 1024px) {

        .carousel-cell {
            width: 100%; /* full width */
            background-position: center;
            background-repeat: no-repeat;
        }

    }


</style>